<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999431981277-k6nr69bqaat034mntgc6369f26nlutda.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999431981277-k6nr69bqaat034mntgc6369f26nlutda</string>
	<key>API_KEY</key>
	<string>AIzaSyAoZGOyfjrjCzLr4Xx2yZAlF-_aG7xukAc</string>
	<key>GCM_SENDER_ID</key>
	<string>999431981277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutteriot</string>
	<key>PROJECT_ID</key>
	<string>mijia-thermostat</string>
	<key>STORAGE_BUCKET</key>
	<string>mijia-thermostat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999431981277:ios:8f973cd62f1f2d86</string>
	<key>DATABASE_URL</key>
	<string>https://mijia-thermostat.firebaseio.com</string>
</dict>
</plist>